*,
a {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

body {
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 344px;
    height: 600px;
    margin: 30px 15px;
}

.image-content {
    height: 239px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("../images/image-product-mobile.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-content {
    margin: 20px
}

.text-heading h2 {
    color: hsl(228, 12%, 48%);
    font-size: 1.35em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.text-heading h1 {
    color: hsl(212, 21%, 14%);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
    line-height: 36px;
    margin: 10px 0px;
}

.description p {
    color: hsl(228, 12%, 48%);
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 30px 0px 5px;
}

.text-value {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: start;
    margin: 20px 0px 8px;
}

.text-value .product-price {
    color: hsl(158, 36%, 37%);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
}

.text-value .compare-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button {
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    border: none;
    height: 50px;
    margin-top: 16px;
    padding: 0px 80px;
    width: 300px;
}

button .button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button .img {
    height: 16px;
    width: 15px;
}

button p {
    min-width: 100px;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

@media screen and (min-width: 376px) {
    .container {
        grid-template-rows: 0;
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
        height: 450px;
        margin: 150px auto auto;
    }

    .image-content {
        width: 300px;
        height: 450px;
        border-radius: 10px 0px 0px 10px;
        background-image: url("../images/image-product-desktop.jpg");
    }

    .text-content {
        margin: 40px 30px;
        max-width: 250px;
    }

    .description p{
        margin-right: 40px;
    }

    button {
        width: 240px;
        margin-top: 20px;
        padding: 0px 60px;
    }
}